@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="header-links pull-right">
	<li><i class="fa fa-user-o"></i> @Html.ActionLink("Bán hàng trên TechLap", "Register", "Shops")</li>
	<li>
		@Html.ActionLink("Xin chào " + User.Identity.GetUserName().Split('@')[0] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
	</li>
	<li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
</ul>
    }
}
else
{
        <ul class="header-links pull-right">
            <li><i class="fa fa-user-o"></i> @Html.ActionLink("Bán hàng trên TechLap", "Register", "Shops")</li>
            <li><i class="fa fa-user-o"></i> @Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li><i class="fa fa-user-o"></i> @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
}
