@model eCommerce.EntityFramework.MerchantStore
@using Microsoft.AspNet.Identity
@{
	ViewBag.Title = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Register", "Shops", new { userid = User.Identity.GetUserId() }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Đăng Ký Bán Hàng</h3>
					<ul class="breadcrumb-tree">
						<li><a href="#">Home</a></li>
						<li class="active">Register</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row ">
				<!--	<div class="col-md-6">

					<div class="billing-details">
						<div class="section-title">
							<h3 class="title">Tài khoản</h3>
						</div>
						<div class="form-group">
							<input class="input" type="email" id="email" name="email" placeholder="Email">
						</div>
						<div class="form-group">
							<input class="input" type="password" id="pass" name="pass" placeholder="Mặt khẩu">
						</div>


						<div class="form-group text-left">
							<div class="input-checkbox">
								<input type="checkbox" id="create-account">
								<label for="create-account">
									<span></span>
									Tôi đồng ý và chấp nhận các điều khoản & quy tắc
								</label>

							</div>
						</div>
					</div>

				</div>-->

				<div class="col-md-8" style=" width: 100%;align-items: center;justify-content: space-around;display: flex;float: none;">
					<!-- Billing Details -->
					<div class="billing-details">
						<div class="section-title">
							<h3 class="title ">Thông tin Doanh Nghiệp</h3>
						</div>

						<div class="form-group">
							@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input", placeholder = "Tên cửa hàng" } })
							@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "input", placeholder = "Địa chỉ cửa hàng" } })
							@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							@Html.EditorFor(model => model.BusinessRegistrationCode, new { htmlAttributes = new { @class = "input", placeholder = "Mã đăng ký kinh doanh" } })
							@Html.ValidationMessageFor(model => model.BusinessRegistrationCode, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							@Html.EditorFor(model => model.TaxRegistrationCode, new { htmlAttributes = new { @class = "input", placeholder = "Mã số thuế" } })
							@Html.ValidationMessageFor(model => model.TaxRegistrationCode, "", new { @class = "text-danger" })
						</div>

						<div class="form-group">
							@Html.EditorFor(model => model.CreditCardNumber, new { htmlAttributes = new { @class = "input", placeholder = "Mã số thể" } })
							@Html.ValidationMessageFor(model => model.CreditCardNumber, "", new { @class = "text-danger" })
						</div>

						<div class="form-group">
							@Html.EditorFor(model => model.CardTradeNumber, new { htmlAttributes = new { @class = "input", placeholder = "Số tài khoản" } })
							@Html.ValidationMessageFor(model => model.CardTradeNumber, "", new { @class = "text-danger" })
						</div>

						<div class="form-group">
							@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "input", placeholder = "Số điện thoại" } })
							@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
						</div>

						<div class="form-group">
							@Html.EnumDropDownListFor(model => model.DeliveryMethod, "Hình thức giao hàng", htmlAttributes: new { @class = "input" })
							@Html.ValidationMessageFor(model => model.DeliveryMethod, "", new { @class = "text-danger" })
						</div>



						<div class="form-group">
							@Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "input", placeholder = "Tên ngân hàng" } })
							@Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
						</div>



						<div class="form-group">
							@Html.LabelFor(model => model.Image1, htmlAttributes: new { @class = "col-md-4 control-label" })
							<div class="col-md-8">
								<input class="input" id="Image1" name="Image1" type="file" placeholder="Ảnh Cửa Hàng">
							</div>
						</div>

						<div class="form-group ">
							@Html.LabelFor(model => model.Image2, htmlAttributes: new { @class = "col-md-4 control-label" })
							<div class="col-md-8">
								<input id="Image2" name="Image2" type="file" placeholder="Ảnh Chứng Minh Nhân Dân Mặt Trước" class="input">
							</div>
						</div>

						<div class="form-group ">
							@Html.LabelFor(model => model.Image3, htmlAttributes: new { @class = "col-md-4 control-label" })
							<div class="col-md-8">
								<input id="Image3" name="Image3" type="file" placeholder="Ảnh Chứng Minh Nhân Dân Mặt Sau" class="input">
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Image4, htmlAttributes: new { @class = "col-md-4 control-label" })
							<div class="col-md-8">
								<input id="Image4" name="Image4" type="file" placeholder="Ảnh Giấy Phép Kinh Doanh Mặt Trước" class="input">
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Image5, htmlAttributes: new { @class = "col-md-4 control-label" })
							<div class="col-md-8">
								<input id="Image5" name="Image5" type="file" placeholder="Ảnh Giấy Phép Kinh Doanh Mặt Sau" class="input">
							</div>
						</div>
					</div>
					<!-- /Billing Details -->
				</div>

			</div>
			<!-- /row -->
			<div class="text-center">
				<input type="submit" class="primary-btn order-submit " value="ĐĂNG KÝ" />
			</div>

		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
}

