@model eCommerce.EntityFramework.SlideShow
@using Microsoft.AspNet.Identity
@{
	ViewBag.Title = "AdCreatSlideShow";
	Layout = "~/Areas/Merchant/Views/Shared/_Layout-Merchants.cshtml";
}



<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="#">
					<em class="fa fa-home"></em>
				</a>
			</li>
			<li class="active">Quảng Cáo</li>
		</ol>
	</div><!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header"> </h1>
		</div>
	</div><!--/.row-->
	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-blue">
				<div class="panel-heading">
					Chi Tiết

					<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
				</div>
				<div class="panel-body ">
					<div class="box">

						<!-- /.box-header -->
						<div class="box-body">
							@using (Html.BeginForm("CreateSlideShow", "Package",new { invoice = @ViewBag.InvoiceId }, FormMethod.Post, new { id = User.Identity.GetUserId(), enctype = "multipart/form-data" }))
							{
								@Html.AntiForgeryToken()

								<div class="form-horizontal">
									
									<hr />
									@Html.ValidationSummary(true, "", new { @class = "text-danger" })
									<div class="form-group">
										@Html.LabelFor(model => model.Titled, htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.EditorFor(model => model.Titled, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.Titled, "", new { @class = "text-danger" })
										</div>
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
										</div>
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											<input class="form-control " type="file" id="Image1" name="Image1" />	
										</div>
									</div>

									<div class="form-group hidden">
										@Html.LabelFor(model => model.isDisable, htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											<div class="checkbox">
												@Html.EditorFor(model => model.isDisable)
												@Html.ValidationMessageFor(model => model.isDisable, "", new { @class = "text-danger" })
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-offset-2 col-md-10">
											<input type="submit" value="Tạo" class="btn btn-default" />
										</div>
									</div>
								</div>
							}
						</div>
						<!-- /.box-body -->
					</div>
				</div>


			</div>

		</div><!--/.col-->


	</div><!--/.row-->
</div>
