
﻿@{
    ViewBag.Title = "Index";
}
@model eCommerce.Models.CartViewModel
<style type="text/css">
    .how-itemcart1 {
        width: 60px;
        position: relative;
        margin-right: 20px;
        cursor: pointer;
    }

        .how-itemcart1 img {
            width: 100%;
        }

        .how-itemcart1::after {
            content: '\e870';
            font-family: Linearicons-Free;
            font-size: 16px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.5);
            color: #fff;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            opacity: 0;
        }

        .how-itemcart1:hover:after {
            opacity: 1;
        }
</style>
<!-- SECTION -->
<div class="section">
    <!-- container -->
    @if (Model != null)
    {
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-7">
                    <div class="section-title text-center">
                        <h3 class="title">SẢN PHẨM TRONG GIỎ</h3>
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Ảnh</th>
                                <th>Tên</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr class="cart-product-@item.Product.Id">
                                    <td>
                                        <div class="how-itemcart1">
                                            <img src="@item.Product.Image1" alt="IMG">
                                        </div>
                                    </td>
                                    <td>@item.Product.Name</td>
                                    <td>@string.Format("{0:0,0}", item.Price) VND</td>
                                    <td style="width: 120px;">
                                        <div class="input-group form-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-number btn-minus" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                    <span class="glyphicon glyphicon-minus">
                                                    </span>
                                                </button>
                                            </span>
                                            <input type="text" name="quant[1]" class="form-control input-number" value="@item.Quantity" min="1" max="5">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-number btn-plus" data-type="plus" data-field="quant[1]">
                                                    <span class="glyphicon glyphicon-plus">
                                                    </span>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-remove" data-toggle="modal" data-target="#modalremove" data-id="@item.Product.Id">
                                            Xóa
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="modalremove">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Xác nhận xóa</h4>
                            </div>
                            <div class="modal-body">
                                Bạn chắc chắn muốn xóa?
                            </div>
                            <div class="modal-footer">
                                <button class="pull-right btn btn-default" type="button" data-id="" data-dismiss="modal">Đồng ý</button>
                                <button class="pull-left btn btn-default" type="button" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal" id="modalremove">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                Xác nhận xóa?
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">Quay lại</button>
                                <button type="button">Đồng ý</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Order Details -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">THANH TOÁN</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>Sản phẩm</strong></div>
                            <div><strong>Tổng cộng</strong></div>
                        </div>
                        <div class="order-products">
                            @foreach (var item in Model.CartItems)
                            {
                                <div class="order-col">
                                    <div>@item.Product.Name x @item.Quantity</div>
                                    <div>@string.Format("{0:0,0}", item.Price) VNĐ</div>
                                </div>
                            }
                        </div>
                        <div class="order-col">
                            <div>Phí ship</div>
                            <div><strong>Miễn phí</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>THÀNH TIỀN</strong></div>
                            <div><strong class="order-total">@string.Format("{0:0,0}", Model.TotalAmount) VNĐ</strong></div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn order-submit">Xác nhận giỏ hàng</a>
                </div>
                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
    <!-- /container -->
    }
</div>
<!-- /SECTION -->
@section scripts{
    <script>
        $(document).ready(function () {
            $(".btn-remove").click(function () {
                $("#modalremove .pull-right").attr("data-id", $(this).attr("data-id"));
            })
        })
    </script>
}


