@model IEnumerable<eCommerce.EntityFramework.Product>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@{Html.RenderAction("SlideShow");}
<div class="container">
	<!-- row -->
	<div class="row">
		<div class="col-md-12">
			<div class="newsletter">
				<p>Các dòng sản phẩm chính<strong> Bán trên Website </strong></p>
			</div>
		</div>
	</div>
	<!-- /row -->
</div>
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="~/Assets/img/shop01.png" alt="">
					</div>
					<div class="shop-body">
						<h3> Dòng<br> Gaming </h3>
						
					</div>
				</div>
			</div>
			<!-- /shop -->
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="~/Assets/img/shop01.png" alt="">
					</div>
					<div class="shop-body">
						<h3>Dòng<br>Văn Phòng</h3>
					
					</div>
				</div>
			</div>
			<!-- /shop -->
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="~/Assets/img/shop01.png" alt="">
					</div>
					<div class="shop-body">
						<h3>Dòng<br>Workstation</h3>
						
					</div>
				</div>
			</div>
			<!-- /shop -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">SẢN PHẨM MỚI</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">GAMING</a></li>
							<li><a data-toggle="tab" href="#tab2">NOTEBOOK</a></li>
							<li><a data-toggle="tab" href="#tab3">WORKSTATION</a></li>
							<li><a data-toggle="tab" href="#tab4">DOANH NHÂN</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab1 -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.New && item.Type.Id == 1)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>

						<!-- /tab1 -->
						<!-- tab2 -->
						<div id="tab2" class="tab-pane ">
							<div class="products-slick" data-nav="#slick-nav-2">
								<!-- product -->
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.New && item.Type.Id == 2)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-2" class="products-slick-nav"></div>
						</div>
						<!-- /tab2 -->
						<!-- tab2 -->
						<div id="tab3" class="tab-pane ">
							<div class="products-slick" data-nav="#slick-nav-2">
								<!-- product -->
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.New && item.Type.Id == 3)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-2" class="products-slick-nav"></div>
						</div>
						<!-- /tab2 -->
						<!-- tab2 -->
						<div id="tab4" class="tab-pane ">
							<div class="products-slick" data-nav="#slick-nav-2">
								<!-- product -->
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.New && item.Type.Id == 4)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-2" class="products-slick-nav"></div>
						</div>
						<!-- /tab2 -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">HOT</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab5">GAMING</a></li>
							<li><a data-toggle="tab" href="#tab6">NOTEBOOK</a></li>
							<li><a data-toggle="tab" href="#tab7">WORKSTATION</a></li>
							<li><a data-toggle="tab" href="#tab8">DOANH NHÂN</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab1 -->
						<div id="tab5" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-5">
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.Hot && item.Type.Id == 1)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-5" class="products-slick-nav"></div>
						</div>

						<!-- /tab1 -->
						<!-- tab2 -->
						<div id="tab6" class="tab-pane ">
							<div class="products-slick" data-nav="#slick-nav-6">
								<!-- product -->
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.Hot && item.Type.Id == 2)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-6" class="products-slick-nav"></div>
						</div>
						<!-- /tab2 -->
						<!-- tab2 -->
						<div id="tab7" class="tab-pane ">
							<div class="products-slick" data-nav="#slick-nav-7">
								<!-- product -->
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.Hot && item.Type.Id == 3)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-7" class="products-slick-nav"></div>
						</div>
						<!-- /tab2 -->
						<!-- tab2 -->
						<div id="tab8" class="tab-pane ">
							<div class="products-slick" data-nav="#slick-nav-8">
								<!-- product -->
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.Hot && item.Type.Id == 4)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-8" class="products-slick-nav"></div>
						</div>
						<!-- /tab2 -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Khuyến Khích</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab9">GAMING</a></li>
							<li><a data-toggle="tab" href="#tab10">NOTEBOOK</a></li>
							<li><a data-toggle="tab" href="#tab11">WORKSTATION</a></li>
							<li><a data-toggle="tab" href="#tab12">DOANH NHÂN</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab1 -->
						<div id="tab9" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-9">
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.Encourage && item.Type.Id == 1)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-9" class="products-slick-nav"></div>
						</div>

						<!-- /tab1 -->
						<!-- tab2 -->
						<div id="tab10" class="tab-pane ">
							<div class="products-slick" data-nav="#slick-nav-10">
								<!-- product -->
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.Encourage && item.Type.Id == 2)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-10" class="products-slick-nav"></div>
						</div>
						<!-- /tab2 -->
						<!-- tab2 -->
						<div id="tab11" class="tab-pane ">
							<div class="products-slick" data-nav="#slick-nav-11">
								<!-- product -->
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.Hot && item.Type.Id == 3)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											<div class="product">
												<div class="product-img">
													<img src="@item.Image1" alt="" width="300" height="200">
													<div class="product-label">
														@if (item.discountValue != 0)
														{
															<span class="sale">-@item.discountValue%</span>
														}

														<span class="new">@item.AdType</span>

													</div>
												</div>
												<div class="product-body">
													<p class="product-category">@item.Category.Name</p>
													<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
													@if (item.discountValue != 0)
													{
														long a = (item.Price * item.discountValue) / 100;
														long b = item.Price - a;
														<h4 class="product-price">@b VNĐ</h4>
														<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
													}
													else
													{
														<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
													}
													<div class="product-rating">
														@{
															int j = 0;
															for (j = 0; j < item.Rating; j++)
															{
																<i class="fa fa-star"></i>
															}
															while (j < 5)
															{
																<i class="fa fa-star-o"></i>
																j++;
															}
														}
													</div>
													<div class="product-btns">

														<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
												</div>
											</div>
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-11" class="products-slick-nav"></div>
						</div>
						<!-- /tab2 -->
						<!-- tab2 -->
						<div id="tab12" class="tab-pane ">
							<div class="products-slick" data-nav="#slick-nav-12">
								<!-- product -->
								@foreach (var item in Model)
								{
									if (item.AdType == eCommerce.EntityFramework.AdType.Hot && item.Type.Id == 4)
									{

										if (DateTime.Compare(DateTime.Now, item.AdExpriedDate) < 0)
										{
											
											<div class="product">
													<div class="product-img">
														<img src="@item.Image1" alt="" width="300" height="200">
														<div class="product-label">
															@if (item.discountValue != 0)
															{
																<span class="sale">-@item.discountValue%</span>
															}

															<span class="new">@item.AdType</span>

														</div>
													</div>
													<div class="product-body">
														<p class="product-category">@item.Category.Name</p>
														<h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
														@if (item.discountValue != 0)
														{
															long a = (item.Price * item.discountValue) / 100;
															long b = item.Price - a;
															<h4 class="product-price">@b VNĐ</h4>
															<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</del>
														}
														else
														{
															<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) VNĐ</h4>
														}
														<div class="product-rating">
															@{
																int j = 0;
																for (j = 0; j < item.Rating; j++)
																{
																	<i class="fa fa-star"></i>
																}
																while (j < 5)
																{
																	<i class="fa fa-star-o"></i>
																	j++;
																}
															}
														</div>
														<div class="product-btns">

															<button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
														</div>
													</div>
													<div class="add-to-cart">
														<button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>
													</div>
												</div>
											
										}
									}

								}
								<!-- /product -->
							</div>
							<div id="slick-nav-12" class="products-slick-nav"></div>
						</div>
						<!-- /tab2 -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->

