@model IEnumerable<eCommerce.Areas.Admin.Models.StatisticDailyModel>

@{
    ViewBag.Title = "Index";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header clear-fix">
        <h1>
            Quản lý chi trả merchant
        </h1>
    </section>
    <!-- Main content -->

    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Danh sách chi trả</h3>
                <hr />
                <h3 class="box-title" style="float:right">Tổng doanh thu cần chuyển cho merchant : @string.Format("{0:0,0}", ViewBag.Total) VNĐ</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>@Html.DisplayNameFor(model => model.Total)</th>
                            <th>Tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                
                                <td>
                                    @string.Format("{0:0,0}", item.Total) VNĐ
                                </td>
                           
                      
                                <td>
                                    <a href="/Admin/Statistic/RePaid/@item.Id">
                                        <button class="btn btn-primary btn-flat">Thanh toán</button>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </section>

    <!-- /.content -->
</div>




