@model IEnumerable<eCommerce.EntityFramework.Product>

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Sản phẩm bán trên website

		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
			<li><a href="#">Danh mục</a></li>
			<li class="active">Sản Phẩm</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">

				<!-- /.box -->
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Danh sách sản phẩm</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body table-responsive">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>

										@Html.DisplayNameFor(model => model.Image1)
									</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Store)
                                    </th>
									<th>
										@Html.DisplayNameFor(model => model.Name)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Price)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Quantity)
									</th>

									<th>
										@Html.DisplayNameFor(model => model.discountValue)
									</th>

									<th>
										@Html.DisplayNameFor(model => model.updateDate)
									</th>

									<th>
										@Html.DisplayNameFor(model => model.isDisabled)
									</th>
									<th>
                                        Tùy chọn
                                    </th>
								</tr>
							</thead>
							<tbody>

								@foreach (var item in Model)
								{
									<tr>

										<td>
											<img src="@item.Image1" width="50" height="50" />

										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Name)
										</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Store.Name)
                                        </td>
										<td>
											@Html.DisplayFor(modelItem => item.Price)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Quantity)
										</td>

										<td>
											@Html.DisplayFor(modelItem => item.discountValue)
										</td>

										<td>
											@Html.DisplayFor(modelItem => item.updateDate)
										</td>

										@if (item.isDisabled == true)
										{
											<td>
												block
											</td>
										}
										@if (item.isDisabled == false)
										{
											<td>
												Đang bán
											</td>
										}

										<td>

											@Html.ActionLink("Notify", "LowQuatity", new { id = item.Id }) |
											@Html.ActionLink("Delete", "Delete", new { id = item.Id })
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
	<!-- /.content -->
</div>

