@model IEnumerable<eCommerce.EntityFramework.AdInvoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Doanh thu bán gói quảng cáo theo tháng
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh sách hóa đơn</h3>
                        <hr />
                        <h3 class="box-title" style="float:right">Tổng doanh thu tháng này : @ViewBag.Total VNĐ</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AdPackage.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.transactionId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.hashCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.createdDate)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AdPackage.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.transactionId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.hashCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.createdDate)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>



