@model eCommerce.EntityFramework.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <!--sửa đường dẫn-->
                    <li>Chi tiết sản phẩm</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="@Html.DisplayFor(model => model.Image1)" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="@Html.DisplayFor(model => model.Image2)" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="@Html.DisplayFor(model => model.Image3)" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="@Html.DisplayFor(model => model.Image1)" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="@Html.DisplayFor(model => model.Image2)" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="@Html.DisplayFor(model => model.Image3)" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5 ">
                <div class="product-details">
                    <h2 class="product-name">@Html.DisplayFor(model => model.Name)</h2>
                    <div>
                        <div class="product-rating">
                            @{
                                int j = 0;
                                for (j = 0; j < Model.Rating; j++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                while (j < 5)
                                {
                                    <i class="fa fa-star-o"></i>
                                    j++;
                                }
                            }
                        </div>
                        <a class="review-link" href="#">10 Review(s) | @Html.DisplayFor(model => model.Type.Name)</a>
                        <a class="review-link" href="@Url.Action("ShopsIndex","Shops",new { id = Model.Store.Id })"> | @Html.DisplayFor(model => model.Store.Name)</a>
                    </div>
                    <div>
                        @if (Model.discountValue != 0)
                        {
                            <h3 class="product-price">@ViewBag.NewPrice VNĐ <del class="product-old-price"> @Html.DisplayFor(model => model.Price) VNĐ</del></h3>
                        }
                        else
                        {
                            <h3 class="product-price">@Html.DisplayFor(model => model.Price) VNĐ</h3>
                        }
                    </div>
                    <p>@Html.DisplayFor(model => model.Description)</p>

                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> thêm giỏ hàng</button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> Yêu thích</a></li>
                        <li><a href="#"><i class="fa fa-exchange"></i> So sánh</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Loại: @Html.DisplayFor(model => model.Type.Name)</li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Mô tả</a></li>
                        <li><a data-toggle="tab" href="#tab2">Chi tiết</a></li>
                        <li><a data-toggle="tab" href="#tab3">Đánh giá (3)</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.DisplayFor(model => model.Description)
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="text-align:center;font-weight:500;">Thông số kỹ thuật</h3>
                                    <table class="table table-bordered" align="center">
                                        <thead>
                                            <tr>
                                                <th scope="col">Thông số</th>
                                                <th scope="col">Chi tiết</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <th scope="row">@Html.DisplayNameFor(model => model.CPU)</th>
                                                <td>@Html.DisplayFor(model => model.CPU)</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">@Html.DisplayNameFor(model => model.RAM)</th>
                                                <td>@Html.DisplayFor(model => model.RAM)</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">@Html.DisplayNameFor(model => model.hardDrive)</th>
                                                <td>@Html.DisplayFor(model => model.hardDrive)</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">@Html.DisplayNameFor(model => model.screenType)</th>
                                                <td>@Html.DisplayFor(model => model.screenType)</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">@Html.DisplayNameFor(model => model.GPU)</th>
                                                <td>@Html.DisplayFor(model => model.GPU)</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">@Html.DisplayNameFor(model => model.IOPort)</th>
                                                <td>@Html.DisplayFor(model => model.IOPort)</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">@Html.DisplayNameFor(model => model.OS)</th>
                                                <td>@Html.DisplayFor(model => model.OS)</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">@Html.DisplayNameFor(model => model.DesignType)</th>
                                                <td>@Html.DisplayFor(model => model.DesignType)</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">@Html.DisplayNameFor(model => model.Size)</th>
                                                <td>@Html.DisplayFor(model => model.Size) kg</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->
                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div>
                                        <h2 class="product-name">@Html.DisplayNameFor(model => model.Rating)</h2>
                                    </div>
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>@Html.DisplayFor(model => model.Rating)</span>
                                            <div class="rating-stars">
                                                @{
                                                    int i = 0;
                                                    for (i = 0; i < Model.Rating; i++)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    while (i < 5)
                                                    {
                                                        <i class="fa fa-star-o"></i>
                                                        i++;
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Rating -->
                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">John</h5>
                                                    <p class="date">27 DEC 2018, 8:0 PM</p>
                                                    
                                                </div>
                                                <div class="review-body">
                                                    <div class="review-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                        <i class="fa fa-star empty"></i>
                                                    </div>                                                
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="reviews-pagination">
                                            <li class="active">1</li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Reviews -->
                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <form class="review-form">
                                            <div class="input-rating">
                                                <span>Bình chọn: </span>
                                                <div class="stars">
                                                    <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                                    <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                                    <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                                    <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                                    <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                                </div>
                                            </div>
                                            <button class="primary-btn">Gửi</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
@{ 
    Html.RenderAction("RelatedProducts", "Products", new { id = Model.Type.Id });
}
