
@{
    ViewBag.Title = "ProductsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model eCommerce.Models.ProductIndexModel
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!--Sửa đường dẫn-->
                <ul class="breadcrumb-tree">
                    <li>Sản phẩm</li>
                    <li>Sản phẩm @ViewBag.CategoryName</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Loại</h3>
                    <div class="checkbox-filter filter-type">
                        @if (Model.Filter.type != null)
                        {
                            foreach (var item in Model.Types)
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" data-id="@item.Id" id="brand-@item.Id" @(Model.Filter.type.Contains(item.Id) ? "checked" : "")>
                                    <label for="brand-@item.Id">
                                        <span></span>
                                        @item.Name
                                    </label>
                                </div>
                            }
                        }
                        else
                        {
                            foreach (var item in Model.Types)
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" data-id="@item.Id" id="brand-@item.Id">
                                    <label for="brand-@item.Id">
                                        <span></span>
                                        @item.Name
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- /aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Giá</h3>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <div class="input-number price-min">
                            <input id="price-min" type="number" value="@Model.Filter.min" data-defaultval="@Model.defaultMin">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" type="number" value="@(Model.Filter.max == 0 ? Model.defaultMax : Model.Filter.max)" data-defaultval="@Model.defaultMax">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                </div>
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Ổ Cứng</h3>
                    <div class="checkbox-filter filter-drive">

                        @if (Model.Filter.drive != null)
                        {
                            foreach (var item in Model.Drives)
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" data-id="@item.Name" id="hard-@item.Id" @(Model.Filter.drive.Contains(item.Name) ? "checked" : "" )>
                                    <label for="hard-@item.Id">
                                        <span></span>
                                        @item.Name
                                    </label>
                                </div>
                            }

                        }
                        else
                        {
                            foreach (var item in Model.Drives)
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" data-id="@item.Name" id="hard-@item.Id">
                                    <label for="hard-@item.Id">
                                        <span></span>
                                        @item.Name
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- /aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">CPU</h3>
                    <div class="checkbox-filter filter-cpu">
                        @if (Model.Filter.cpu != null)
                        {
                            foreach (var item in Model.CPUs)
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" data-id="@item.Name" id="cpu-@item.Id" @(Model.Filter.cpu.Contains(item.Name) ? "checked" : "" )>
                                    <label for="cpu-@item.Id">
                                        <span></span>
                                        Intel Core @item.Name
                                    </label>
                                </div>
                            }

                        }
                        else
                        {
                            foreach (var item in Model.CPUs)
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" data-id="@item.Name" id="cpu-@item.Id">
                                    <label for="cpu-@item.Id">
                                        <span></span>
                                        Intel Core @item.Name
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- aside Widget -->
                <!-- /aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">RAM</h3>
                    <div class="checkbox-filter filter-ram">
                        @if (Model.Filter.ram != null)
                        {
                            foreach (var item in Model.Rams)
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" data-id="@item.Name" id="ram-@item.Id" @(Model.Filter.ram.Contains(item.Name) ? "checked" : "" )>
                                    <label for="ram-@item.Id">
                                        <span></span>
                                        @item.Name
                                    </label>
                                </div>
                            }

                        }
                        else
                        {
                            foreach (var item in Model.Rams)
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" data-id="@item.Name" id="ram-@item.Id">
                                    <label for="ram-@item.Id">
                                        <span></span>
                                        @item.Name
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Kích Thước</h3>
                    <div class="checkbox-filter filter-size">
                        @if (Model.Filter.size != null)
                        {
                            foreach (var item in Model.Sizes)
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" data-id="@item.Name" id="size-@item.Id" @(Model.Filter.size.Contains(item.Name) ? "checked" : "" )>
                                    <label for="size-@item.Id">
                                        <span></span>
                                        @item.Name inches
                                    </label>
                                </div>
                            }

                        }
                        else
                        {
                            foreach (var item in Model.Sizes)
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" data-id="@item.Name" id="size-@item.Id">
                                    <label for="size-@item.Id">
                                        <span></span>
                                        @item.Name inches
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Bán Chạy</h3>
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="~/Assets/img/product01.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="~/Assets/img/product02.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="~/Assets/img/product03.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store products -->
                <div class="row product-row">
                    @foreach (var item in Model.Products)
                    {
                        <!-- product -->
                        <div class="col-md-4 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <img src="@item.Image1" alt="" width="300" height="200">
                                    <div class="product-label">
                                        @if (item.discountValue != 0)
                                        {
                                            <span class="sale">-@item.discountValue%</span>
                                        }
                                        @if (item.AdType == eCommerce.EntityFramework.AdType.New)
                                        {
                                            <span class="new">NEW</span>
                                        }
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">@item.Category.Name</p>
                                    <h3 class="product-name"><a href="/Products/Detail/@item.Id">@item.Name</a></h3>
                                    <h4 class="product-price">@item.Price VNĐ</h4>
                                    <div class="product-rating">
                                        @{
                                            int j = 0;
                                            for (j = 0; j < item.Rating; j++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            while (j < 5)
                                            {
                                                <i class="fa fa-star-o"></i>
                                                j++;
                                            }
                                        }
                                    </div>
                                    <div class="product-btns">

                                        <button class="quick-view"><a href="@Url.Action("Detail","Products",new { id = item.Id })"><i class="fa fa-eye"></i><span class="tooltipp">Xem sản phẩm</span></a></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn" data-id="@item.Id" data-qty="1"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ</button>                                      
                                    </div>
                                </div>
                        </div>
                        <!-- /product -->
                        <div class="clearfix visible-sm visible-xs"></div>
                    }
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">Showing 20-100 products</span>
                    <ul class="store-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

@section scripts{
<script>
        $(document).ready(function () {
            $(".filter-type input").click(function () {
                window.location.href = Search(); // Href đến giá trị trên thanh Url do hàm Search() trả về
            })

            $(".filter-drive input").click(function () {
                window.location.href = Search();
            })

            $(".filter-cpu input").click(function () {
                window.location.href = Search();
            })

            $(".filter-ram input").click(function () {
                window.location.href = Search();
            })

            $(".filter-size input").click(function () {
                window.location.href = Search();
            })
    })
	// Thay đổi link Search================================>
    function Search() {
        var filterUrl = "/Products/ProductsIndex?name=@Model.Filter.name";
        // Filter Type
        $(".filter-type input:checked").each(function () {
            filterUrl += "&type=" + $(this).attr("data-id");
        })

        //Filter drive
        $(".filter-drive input:checked").each(function () {
            filterUrl += "&drive=" + $(this).attr("data-id");
        })

        //Filter cpu
        $(".filter-cpu input:checked").each(function () {
            filterUrl += "&cpu=" + $(this).attr("data-id");
        })

        //Filter ram
        $(".filter-ram input:checked").each(function () {
            filterUrl += "&ram=" + $(this).attr("data-id");
        })

        //Filter size
        $(".filter-size input:checked").each(function () {
            filterUrl += "&size=" + $(this).attr("data-id");
        })

        if ($("#price-min").val() != @Model.defaultMin) filterUrl += "&min=" + $("#price-min").val();
        if ($("#price-min").val() != @Model.defaultMax) filterUrl += "&max=" + $("#price-max").val();

        return filterUrl;  // giá trị URL trả về
    }
</script>
 }