@model eCommerce.EntityFramework.MerchantStore

@{
				/**/

				/**/

				ViewBag.Title = "Detail";
				Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Chi Tiết
			
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Quản lí khách hàng</a></li>
			<li class="active">Chi tiết </li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="invoice">


	
		<!-- title row -->
		<div class="row">
			<div class="col-xs-12">
				<h2 class="page-header">
					<i class="fa fa-globe"></i> Thông tin cửa hàng đăng ký
					
				</h2>
			</div>
			<!-- /.col -->
		</div>
		<!-- info row -->
		<!-- /.row -->
		<!-- Table row -->
		<div class="row">
			<div class="col-md-12 table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>

							<th>Thông tin</th>
							<th>Chi Tiết</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="width:300px">@Html.DisplayNameFor(model => model.Id)</td>
							<td>@Html.DisplayFor(model => model.Id)</td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.User.UserName)</td>
							<td>@Html.DisplayFor(model => model.User.UserName)</td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.Name)</td>
							<td>@Html.DisplayFor(model => model.Name)</td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.Address)</td>
							<td>@Html.DisplayFor(model => model.Address)</td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
							<td>@Html.DisplayFor(model => model.PhoneNumber)</td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.BusinessRegistrationCode)</td>
							<td>@Html.DisplayFor(model => model.BusinessRegistrationCode)</td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.TaxRegistrationCode)</td>
							<td>@Html.DisplayFor(model => model.TaxRegistrationCode)</td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.CardTradeNumber)</td>
							<td>@Html.DisplayFor(model => model.CardTradeNumber)</td>

						<tr>
							<td>@Html.DisplayNameFor(model => model.CreditCardNumber)</td>
							<td>@Html.DisplayFor(model => model.CreditCardNumber)</td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.BankName)</td>
							<td>@Html.DisplayFor(model => model.BankName)</td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.createdDate)</td>
							<td>@Html.DisplayFor(model => model.createdDate)</td>

						</tr>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DeliveryMethod)</td>
							<td>@Html.DisplayFor(model => model.DeliveryMethod)</td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.Image1)</td>
							<td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal1">Xem </button></td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.Image2)</td>
							<td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">Xem </button></td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.Image3)</td>
							<td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal3">Xem </button></td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.Image4)</td>
							<td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal4">Xem </button></td>

						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.Image5)</td>
							<td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal5">Xem </button></td>

						</tr>


					</tbody>
				</table>
			</div>
			<!-- /.col -->
		</div>


		<!-- this row will not appear when printing -->
		<div class="row no-print">
			<div class="col-xs-12">
				<a href="@Url.Action("Confirm","MerchantsAccount",new { id = Model.Id })" type="button" class="btn btn-success pull-right">
					<i class="fa fa-credit-card"></i> Cấp phép
				</a>
				<a href="@Url.Action("Block","MerchantsAccount",new { id = Model.Id })" type="button" class="btn btn-danger pull-right" style="margin-right: 5px;">
					<i class="fa fa-download"></i> Block
				</a>
				<a href="@Url.Action("Confirmation","MerchantsAccount")" type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
					<i class="fa fa-download"></i> Trở lại
				</a>
			</div>
		</div>
	</section>
	<!-- /.content -->
	<div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->
<!-- Modal4 -->
<div class="modal fade" id="myModal1" role="dialog">
	<div class="modal-dialog modal-primary">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Ảnh cửa hàng</h4>
			</div>
			<div class="modal-body">
				@Html.DisplayFor(model => model.Image1)
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal4 -->
<div class="modal fade" id="myModal2" role="dialog">
	<div class="modal-dialog modal-primary">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Giấy chứng minh mặt trước</h4>
			</div>
			<div class="modal-body">
				@Html.DisplayFor(model => model.Image2)
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal4 -->
<div class="modal fade" id="myModal3" role="dialog">
	<div class="modal-dialog modal-primary">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Giấy Chứng mặt sau</h4>
			</div>
			<div class="modal-body">
				@Html.DisplayFor(model => model.Image3)
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal4 -->
<div class="modal fade" id="myModal4" role="dialog">
	<div class="modal-dialog modal-primary">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Giấy phép kinh doanh mặt trước</h4>
			</div>
			<div class="modal-body">
				@Html.DisplayFor(model => model.Image4)
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal4 -->
<div class="modal fade" id="myModal5" role="dialog">
	<div class="modal-dialog modal-primary">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Giấy phép kinh doanh mặt sau</h4>
			</div>
			<div class="modal-body">
				@Html.DisplayFor(model => model.Image5)
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
