@model eCommerce.EntityFramework.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discountValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discountValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hardDrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hardDrive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.screenType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.screenType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IOPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IOPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesignType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uploadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deletedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deletedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDisabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDisabled)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
