﻿@model IEnumerable<eCommerce.EntityFramework.AdPackage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Merchant/Views/Shared/_Layout-Merchants.cshtml";
}

<link rel="stylesheet" href="~/Areas/Admin/Assets/dist/css/AdminLTE.css">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header clear-fix">
        <h1>
            Gói quảng cáo
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box" style="padding-left: 20px; padding-right: 20px">
            <div class="row">
                <div class="pricing-table">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4">
                            <div class="plan">
                                <h3>@Html.DisplayFor(modelItem => item.Name)<span>@Html.DisplayFor(modelItem => item.Price).000</span></h3>
                                <a class="btn btn-lg btn-primary" href="@Url.Action("BuyAd","Package",new { id = item.Id })">Mua</a>
                                <ul>
                                    <li>Sản phẩm được nâng lên mức <b>@Html.DisplayFor(modelItem => item.Level)</b></li>
                                    <li>Thời hạn quảng cáo sản phẩm <b>@Html.DisplayFor(modelItem => item.Period) ngày</b></li>
                                    <li>Sản phẩm được ưu tiên xếp theo mức <b>@Html.DisplayFor(modelItem => item.Level)</b></li>
                                    <li><b>Không</b>tự động gia hạn lại khi đến hạn</li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
