@model eCommerce.Models.ChangePasswordViewModel
@{
	ViewBag.Title = "Change Password";
}



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
	<div class="panel panel-danger">
		<div class="panel-heading ">
			Đổi mật khẩu

			<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" action="" method="post">
				<fieldset>

					@using (Html.BeginForm("ChangePassword", "Manage", new { area = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
						@Html.AntiForgeryToken()
				
						@Html.ValidationSummary("", new { @class = "text-danger" })
						<!-- Email input-->
						<div class="form-group">
							<label class="col-md-3 control-label" for="oldpassword"> Mật Khẩu Cũ</label>
							<div class="col-md-9">
								@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
							</div>
						</div>

						<!-- Message body -->
						<div class="form-group">
							<label class="col-md-3 control-label" for="newpasswor">Mật Khẩu Mới</label>
							<div class="col-md-9">
								@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
							</div>
						</div>

						<!-- Name input-->
						<div class="form-group">
							<label class="col-md-3 control-label" for="name">Xác Nhận Mât Khẩu </label>
							<div class="col-md-9">
								@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12 widget-right">
								<input type="submit" value="Xác nhận" class="btn btn-default btn-md pull-right"/>
							</div>
						</div>
					}

				</fieldset>
			</form>
		</div>
	</div>