@model IEnumerable<eCommerce.EntityFramework.InvoiceDetail>
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Merchant/Views/Shared/_Layout-Merchants.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="#">
					<em class="fa fa-home"></em>
				</a>
			</li>
			<li class="active">Quản lý chung</li>
		</ol>
	</div><!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Quản lý chung</h1>
		</div>
	</div><!--/.row-->

	<div class="panel panel-container">
		<div class="row">
			<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
				<div class="panel panel-teal panel-widget border-right">
					<div class="row no-padding">
						<em class="fa fa-xl fa-dollar color-blue"></em>
						<div class="large">@ViewBag.DailyProfit triệu</div>
						<div class="text-muted">Doanh thu hôm nay</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
				<div class="panel panel-blue panel-widget border-right">
					<div class="row no-padding">
						<em class="fa fa-xl fa-list-alt color-orange"></em>
                        <div class="large">@ViewBag.DailyBill</div>
						<div class="text-muted">Hóa đơn hôm nay</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
				<div class="panel panel-orange panel-widget border-right">
					<div class="row no-padding">
						<em class="fa fa-xl fa-file color-gray"></em>
						<div class="large">@ViewBag.Package</div>
						<div class="text-muted">Số gói tin còn lại</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
				<div class="panel panel-red panel-widget ">
					<div class="row no-padding">
						<em class="fa-xl glyphicon glyphicon-open color-red"></em>
						<div class="large">@ViewBag.Product</div>
						<div class="text-muted">Số sản phẩm đang bán</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
	</div>
	<div class="row">
		<div class="col-md-7 ">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<div class="white-box">
						<h3 class="box-title ">Doanh thu</h3>

						<table class="table table-condensed dashtable">
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th>&nbsp;</th>
									<th style="text-align:center">  Doanh thu</th>
									<th style="text-align:center">  Số Hóa Đơn</th>

								</tr>
							</thead>
							<tbody>
								<tr valign="bottom">
									<th valign="bottom" style="vertical-align:bottom" scope="row">Hôm Nay</th>
									<td valign="bottom">
										<span class="callout1"></span>
									</td>
									<td valign="bottom">
                                        <span class="callout1">

                                            @ViewBag.DailyProfit triệu

                                        </span>
									</td>
									<td valign="bottom">
										<span class="callout1">

											@ViewBag.DailyBill

										</span>
									</td>
								</tr>
								<tr>
									<th scope="row">7 Ngày Trước</th>
									<td>&nbsp;</td>
                                    <td>

                                        @ViewBag.WeeklyProfit triệu

                                    </td>
									<td>

										@ViewBag.WeeklyBill

									</td>
								</tr>
								<tr>
									<th scope="row">30 Ngày Trước</th>
									<td>&nbsp;</td>
                                    <td>

                                        @ViewBag.MonthlyProfit triệu

                                    </td>
                                    <td>

                                        @ViewBag.MonthlyBill

                                    </td>
								</tr>
								<tr>
									<th scope="row">90 Ngày Trước</th>
									<td>&nbsp;</td>
                                    <td>

                                        @ViewBag.ThreeMonthsProfit triệu

                                    </td>
									<td>

										@ViewBag.ThreeMonthsBill

									</td>
								</tr>
								<tr>
									<th scope="row">Trong Năm</th>
									<td>&nbsp;</td>
									<td>

										@ViewBag.WholeYearProfit triệu

									</td>
									<td>

										@ViewBag.WholeYearBill

									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Tăng Trưởng</h4>
					<div class="easypiechart" id="easypiechart-red" data-percent="@ViewBag.Percent"><span class="percent">@ViewBag.Percent%</span></div>
				</div>
			</div>
		</div>
	</div><!--/.row-->


	<div class="row">
		<div class="col-md-12">
			
			<div class="panel-blue">
				<div class="panel-heading" >
					Danh Sách Hóa Đơn Cần Xác Nhận
				</div>
				<div class="panel-body" >
					<div class="box">
						
						<!-- /.box-header -->
						<div class="box-body">
                            <table id="example1" class="table table-bordered table-hover" style="color:black">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Invoice.User.UserName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Product.Image1)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Product.Name)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Quantity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.isDisabled)
                                        </th>
                                        <th>Thành Tiền</th>
                                        <th>Tùy chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Invoice.User.UserName)
                                            </td>
                                            <td>
                                                <img src="@Html.DisplayFor(modelItem => item.Product.Image1)" width="50" height="50" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Product.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Product.Price) VNĐ
                                            </td>

                                            <td>
                                                @if (item.isDisabled == true)
                                                {
                                                    <p style="color:black;">Đã Xác nhận</p>
                                                }
                                                else
                                                {
                                                    <p style="color:black;">Chưa xác nhận</p>
                                                }
                                            </td>
                                            @{
                                                var Thanhtien = item.Product.Price * item.Quantity;
                                            }
                                            <td>
                                                @Thanhtien VNĐ
                                            </td>

                                            <td>
                                                @Html.ActionLink("Xác nhận", "Confirm", new { invoice = item.Invoice.Id, product = item.Product.Id })

                                            </td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
						</div>
						<!-- /.box-body -->
					</div>
				</div>

				
			</div>
		</div><!--/.col-->


	</div><!--/.row-->
</div>	<!--/.main-->
