@model IEnumerable<eCommerce.EntityFramework.InvoiceDetail>

@{
	ViewBag.Title = "NewInvoices";
	Layout = "~/Areas/Merchant/Views/Shared/_Layout-Merchants.cshtml";
}

@using Microsoft.AspNet.Identity

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="#">
					<em class="fa fa-home"></em>
				</a>
			</li>
			<li class="active">Hóa đơn</li>
		</ol>
	</div><!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Hóa đơn cũ</h1>
		</div>
	</div><!--/.row-->
	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-blue">
				<div class="panel-heading">
					Danh Sách Hóa Đơn

					<div class="pull-right panel-settings panel-button-tab-right">

						<a class="pull-right "  href="@Url.Action("OldInvoices","MerchantHome",new { id = User.Identity.GetUserId() })">
							<em class="fa fa-refresh"></em>
						</a>

					</div>
					<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
				</div>
				<div class="panel-body ">
					<div class="box">

						<!-- /.box-header -->
						<div class="box-body">
							<table id="example1" class="table table-bordered table-hover" style="color:black">
								<thead>
									<tr>
										<th>
											@Html.DisplayNameFor(model => model.Invoice.User.UserName)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.Product.Image1)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.Product.Name)
										</th>

										<th>
											@Html.DisplayNameFor(model => model.Quantity)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.Price)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.isDisabled)
										</th>
										<th>Thành Tiền</th>
										<th>Thanh toán</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.Invoice.User.UserName)
											</td>
											<td>
												<img src="@Html.DisplayFor(modelItem => item.Product.Image1)" width="50" height="50" />
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Product.Name)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Quantity)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Product.Price) VNĐ
											</td>

											<td>
												@if (item.isDisabled == true)
												{
													<p style="color:black;">Đã Xác nhận</p>
												}
												else
												{
													<p style="color:black;">Chưa xác nhận</p>
												}
											</td>
											@{
												var Thanhtien = item.Product.Price * item.Quantity;
											}
											<td>
												@Thanhtien VNĐ
											</td>
											<td>
												@if (item.Invoice.isDisabled == true)
												{
													<p style="color:black;">Đã được thanh toán</p>
												}
												else
												{
													<p style="color:black;">Chưa được thanh toán</p>
												}
											</td>

										</tr>
									}

								</tbody>

							</table>
						</div>
						<!-- /.box-body -->
					</div>
				</div>


			</div>
		</div><!--/.col-->


	</div><!--/.row-->
</div>
@section scripts{
	<script>
		$(document).ready(function () {
			$("#confirm").click(function () {
				var form = document.createElement("form");
				var element1 = document.createElement("input");
				var element2 = document.createElement("input");
				form.method = "POST";
				form.action = "/Merchant/MerchantHome/Confirm";
				element1.value = Number($(this).attr("data-product"));
				element1.name = "product";
				form.appendChild(element1);

				element2.value = Number($(this).attr("data-invoice"));
				element2.name = "invoice";
				form.appendChild(element2);

				document.body.appendChild(form);

				form.submit();
			})
		})
	</script>
}