
@{
	ViewBag.Title = "Profit";
	Layout = "~/Areas/Merchant/Views/Shared/_Layout-Merchants.cshtml";
}
@model List<eCommerce.Areas.Merchant.Models.RepaidHistory>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="#">
					<em class="fa fa-home"></em>
				</a>
			</li>
			<li class="active">Lợi Nhuận</li>
		</ol>
	</div><!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Lợi Nhuận</h1>
		</div>
	</div><!--/.row-->
	<div class="panel panel-container">
		<div class="row">
			<div class="col-xs-6 col-md-6 col-lg-6 no-padding">
				<div class="panel panel-teal panel-widget border-right">
					<div class="row no-padding">
						<em class="fa fa-xl fa-dollar color-blue"></em>
						<div class="large">@ViewBag.Profit_Now Triệu</div>
						<div class="text-muted">TỔNG THU NHẬP</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-6 col-lg-6 no-padding">
				<div class="panel panel-blue panel-widget border-right">
					<div class="row no-padding">
						<em class="fa fa-xl fa-dollar color-orange"></em>
						<div class="large">@ViewBag.Profit_NotTrade Triệu</div>
						<div class="text-muted">ĐỢI CHUYỂN</div>
					</div>
				</div>
			</div>
            <div class="col-xs-6 col-md-6 col-lg-6 no-padding">
                <div class="panel panel-blue panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-dollar color-orange"></em>
                        <div class="large">@ViewBag.Profit_Trade Triệu</div>
                        <div class="text-muted">ĐÃ CHUYỂN</div>
                    </div>
                </div>
            </div>
			
			
		</div><!--/.row-->
	</div>
	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-blue">
				<div class="panel-heading">
					Lịch Sử Thanh Toán
					
					
				</div>
				<div class="panel-body ">
					<div class="box">

						<!-- /.box-header -->
						<div class="box-body">
							<table id="example1" class="table table-bordered table-hover" style="color:black">
								<thead>
									<tr>
										<th>Ngày chuyển</th>
										<th>Số tiền</th>
										<th>Mã giao dịch</th>
										
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.createDate.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @string.Format("{0:0,0}", item.Total) VNĐ
                                            </td>
                                            <td>
                                                @item.TransactionId
                                            </td>
                                        </tr>
                                    }

								</tbody>
								
							</table>
						</div>
						<!-- /.box-body -->
					</div>
				</div>


			</div>
		</div><!--/.col-->


	</div><!--/.row-->
</div>

